@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

body {
    width: 100%;
    height: 100vh;
    background-size: 300% 300%;
    background-image: linear-gradient(
            -45deg, 
            #0d0c20 0%, 
            rgb(30, 38, 77) 25%, 
            rgb(49, 8, 97) 51%, 
            rgb(115, 15, 54) 100%
    );
    animation: AnimateBG 20s ease infinite;
}
      
@keyframes AnimateBG { 
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}

.logo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.logo img {
    margin-top: 50px;
    margin-bottom: 90px;
    width: 200px;
    transition: all .3s ease;
}

.logo img:hover {
    opacity: 0.7;
}

main {
    background-size: cover;
    min-height: 100%;
    position: relative;
    width: 100%;
    height: 120vh;
}

.principal {
    background-color: #fff;
    border-radius: 14px 0 14px 14px;
    padding: 10px 40px 40px 40px;
    width: 90%;
}

.subtitle {
    color: rgb(186, 194, 217);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 13px;
    padding-top: 20px;
    text-transform: uppercase;
}

.botoes button{
    margin-top: 30px;
}

.form-style {
    background: rgb(244, 244, 254);
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    height: 50px;
}

.form-style::placeholder {
    color: #b5bdd7;
}

.check-regras {
    margin-top: 25px;
    margin-bottom: 55px;
}

.check-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.check-text a {
    text-decoration: none;
}

.btn1-style {
    padding: 10px 30px;
    background-color: #eb2055;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 7px;
    border-top-right-radius: 0;
    margin-right: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: all 0.3s;
}

.btn1-style:hover {
    background-color: #b71942;
}

#bts {
    margin-top: 30px;
}

.btn2-style {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s;
}

.btn2-style:hover {
    border-bottom: 2px solid black;
}

#recaptcha > div {
    margin: 0 auto .5em;
}

.footer-intro {
    background: #010103;
    height: auto;
}

.footer-intro .container-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 60px 0
}

.footer-intro .container-footer .left-side .nav-footer {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-intro .container-footer .left-side .nav-footer li a {
    text-decoration: none;
    color: rgba(255, 255, 255, .65);
    font-weight: 700;
    font-size: 18px;
    padding-right: 25px;
    transition: all 0.3s;
}

.footer-intro .container-footer .right-side .social {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.footer-intro .container-footer .right-side .social li {
    margin-right: 15px
}

.footer-intro .container-footer .right-side .social li a svg {
    opacity: .35;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease
}

.footer-intro .container-footer .right-side .social li a:hover svg {
    opacity: 1
}

@media only screen and (max-width:768px) {
    .footer-intro .container-footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .footer-intro .container-footer .right-side {
        margin-top: 20px
    }
}


@media only screen and (max-width:480px) {
    .footer-intro .container-footer .right-side .social li {
        margin-right: 10px
    }

    .footer-intro .container-footer .left-side .nav-footer li a {
        font-size: 14px
    }
    .footer-intro .container-footer .left-side .nav-footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.footer-intro > .container > .row {
    flex-direction: column;
}

.social a {
    color: rgba(255, 255, 255, .65);
    transition: all 0.3s;
    font-size: 25px;
    padding-right: 10px;
}

.social a:hover {
    opacity: 0.7;
}

#ocorrido {
    padding-top: 13px;
}

.nav-footer a:hover {
    opacity: 0.7;
}
